
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href="{{ asset('css/aa.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
        {% block javascripts %}
            <script src="{{asset('js/script.js') }}"></script>
            
        {% endblock %}
        
    </head>
    <body>
<div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="{{asset('css/images/') }}" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                
    <h1 class="register">login</h1>
    <br><br>


<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
        </div>
    {% endif %}

    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

<br>
    <button class="button" type="submit">
        login
    </button>
    <button class="button" type="submit">
                <a href="{{ path('app_register') }}">sign up</a>

    </button>

</form>

