{% extends 'base.html.twig' %}

{% block title %}Activite{% endblock %}

{% block body %}
<body class="index1">
    <h1>Activite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite.id }}</td>
            </tr>
            <tr>
                <th>CodeAct</th>
                <td>{{ activite.codeAct }}</td>
            </tr>
            <tr>
                <th>LibAct</th>
                <td>{{ activite.libAct }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td> <img src="{{ activite.image }}"></td>
               
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_activite_index') }}">back to list</a>

    <a href="{{ path('app_activite_edit', {'id': activite.id}) }}">edit</a>

    {{ include('activite/_delete_form.html.twig') }}</body>
{% endblock %}
