{% extends 'base.html.twig' %}

{% block title %}Coach index{% endblock %}

{% block body %}
<body class="index1">
    <h1>Coach index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>CodeCo</th>
                <th>Prenom</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coach in coaches %}
            <tr>
                <td>{{ coach.id }}</td>
                <td>{{ coach.nom }}</td>
                <td>{{ coach.codeCo }}</td>
                <td>{{ coach.prenom }}</td>
                <td><img src="{{ coach.image }}"></td>
                <td>
                    <a href="{{ path('app_coach_show', {'id': coach.id}) }}">show</a>
                    <a href="{{ path('app_coach_edit', {'id': coach.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coach_new') }}">Create new</a>
    </body>
{% endblock %}
